<h1> Dear <%= username %>, add a comment here: </h1> <!-- put the name of user and a button not an input because it was not working -->

	<form action = "/comments/create" method = "POST">
		<textarea placeholder = "Add your comment here..." name = "createComment" rows="4" cols="50"></textarea>
		<br>
	    <input type = "submit" value = "Submit Comment">
	</form>

<!--
	<form action = "/users" method = "POST">
	    <input type = "text" placeholder="Add new user's name..." name = "createdComment">
	    <input type = "submit" value = "Create new user">
	</form>	
-->


<form action = "/users/logOut" method = "POST"> 
	<button>Log Out</button>
</form>





























