<!DOCTYPE html>
<html lang="en">
  <head>  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">  
    <link href="/public/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../public/img/logo.jpg">

    <title> Sign in </title>
  </head>
<body>
<!-- <img src="../public/img/logo.jpg" class="calendar">
 -->
    <div class="login">
        <h1>Moody, the emotional diary</h1>
        <% if (errors){  %>
        	<p class="error" for="mongoDB"> <%= errors%> </p>
        <%}%>
        <form action = "/logIn" method = "POST">
            <input type = "text" placeholder = "Username ... " name = "username" style="margin-bottom: 30px;"> <br> <br>
            <input type = "password" placeholder = "Password ... " name = "password"> 
            <p>(password should contain minimum 6 characters)</p>
            <input type = "submit" value = "Sign In"><br>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
</body>
</html>