
<h1> Hello new <%= username %> </h1> <!-- put the name of user and a button not an input because it was not working -->

<form action = "/users/logOut" method = "POST"> 
<button>Log Out</button>
</form>

