<% if (errors){  %>
	<p class="error" for="email"> <%= errors%> </p>
<%}%>

<form action = "/signUp" method = "POST">
    <input type = "text" placeholder = "Your Email ... " name = "email">
    <input type = "password" placeholder = "Your Password ... " name = "password">
    <input type = "submit" value = "Sign Up"><br>
    <button action = "/signIn" method = "GET">Sign In</button>
</form>