<h1> Hello, Please Sign Up </h1>

<form action = "users/signIn" method = "GET">
	<input type = "submit" value = "Sign In">
</form>

<form action = "/signUp" method = "POST">
    <input type = "text" placeholder = "Your Email ... " name = "email">
    <input type = "password" placeholder = "Your Password ... " name = "password">
    <input type = "submit" value = "Sign Up NOW"><br>
</form>
