<h1> Hello, Please Sign In </h1>

<form action = "/" method = "GET">
	<input type = "submit" value = "Back">
</form>

<form action = "/users/signIn" method = "POST">
    <input type = "text" placeholder = "Your Email ... " name = "email">
    <input type = "password" placeholder = "Your Password ... " name = "password">
    <input type = "submit" value = "Sign In"><br>
</form>

